/* Fonts */
@font-face {
    font-family: 'OTEnjoystoriesBA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/OTEnjoystoriesBA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    src: url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2") format('woff2'),
    url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff") format('woff'),
    url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf") format('opentype');
}

body {
    background-color: #5b2386;
    text-align: center;
    font-family: 'GmarketSansMedium';
    color: white;
}

button {
    padding: 13px 49px;
    border-radius: 56px;
    border: none;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    color: #5B2386;
    height: 66px;
    background-color: #fcee21;
    font-family: 'GmarketSansBold';
    font-size: 24px;
    font-weight: 700;
}

.hidden {
    display: none;
}

 /* 높이값 위주의 정렬 + 간격은 위 마진으로  */

header.header {
    margin: 120px auto 0;
    background-image: url(../img/clock.png);
    background-position: center;
    background-repeat: no-repeat;
    height: 265px;
}
.header img {
    margin-top: 100px;
    height: 112px;
    margin-top: 74px;
}

section.cont-intro {
    margin-top: 46px;
    font-size: 18px;
    line-height: 36px;
} 

.intro-txt-desc {
    margin-top: 91px;
    background-image: url(../img/quotes.png);
    background-repeat: no-repeat;
    background-position: center;
}

.intro-txt-desc strong {
    font-family: 'GmarketSansBold';
    font-size: 24px;
}

.cont-calc {
    margin-top: 100px;
    font-size: 24px;;
}

.cont-calc input{
    border-radius: 7px;
    padding: 0;
    padding-top: 5px;
    height: 57px;
    width: 228px;
    text-align: center;
    margin: 0 17px;
    border: none;
}

.cont-calc input::placeholder {
    font-family: 'GmarketSansMedium';
    font-size: 24px;
    color: #BABCBE;
}

.txt-wannabe {
    margin-bottom: 27px;
}

.cont-calc-btn {
    margin: 115px auto 0;
    position: relative;
    left: 40px;
}

.cont-calc-click {
    position: relative;
    vertical-align: bottom;
    left: 39px;
    top: 14px;
} 

.cont-result {
    margin-top: 171px;
    font-size: 24px;
}

.cont-result strong{
    font-family: 'GmarketSansBold';
    font-size: 72px;
    vertical-align: midd;
    position: relative;
    bottom: 24px;
}

.result-txt-time {
    margin-top: 17px
}

.result-btn-share {
    background-color: #fff;
}

[class*=result-btn] {
    margin: 111px 9px 0;
}

.cont-footer {
    
}


김미경, 김대운, 김성진, 손혜수, 사진,


