/* Fonts */
@font-face {
    font-family: 'OTEnjoystoriesBA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/OTEnjoystoriesBA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    src: url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2") format('woff2'),
    url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff") format('woff'),
    url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf") format('opentype');
}

body {
    background-color: #5b2386;
    text-align: center;
    font-family: 'GmarketSansMedium';
    color: white;
}

button {
    padding: 13px 49px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    height: 66px;
    border-radius: 56px;
    border: none;
    color: #5B2386;
    background-color: #fcee21;
    font-family: 'GmarketSansBold';
    font-size: 24px;
    font-weight: 700;
}

.blind {
    width: 1px;
    height: 1px;
    margin: -1px;
    position: absolute;
    overflow: hidden;
}

.hidden {
    display: none !important; 
}

/* header */
.header {
    margin: 120px auto 0;
    background-image: url(../img/clock.png);
    background-position: center;
    background-repeat: no-repeat;
    height: 265px;
}

.title {
    height: 112px;
    margin-top: 74px;
}

/* main */
.cont-intro {
    margin-top: 46px;
    font-size: 18px;
    line-height: 36px;
} 

.intro-txt-desc {
    margin-top: 91px;
    background-image: url(../img/quotes.png);
    background-repeat: no-repeat;
    background-position: center;
}

.intro-txt-desc strong {
    font-family: 'GmarketSansBold';
    font-size: 24px;
}

.cont-calc {
    margin-top: 100px;
    font-size: 24px;
}

.cont-calc input{
    border-radius: 7px;
    padding: 0;
    padding-top: 5px;
    height: 57px;
    width: 228px;
    text-align: center;
    margin: 0 17px;
    border: none;
}

.cont-calc input::placeholder {
    font-family: 'GmarketSansMedium';
    font-size: 24px;
    color: #BABCBE;
}

.txt-wannabe {
    margin-bottom: 27px;
}

.calc-btn-space {
    position: relative;
}
.cont-calc-btn {
    margin: 115px auto 0;
}

.cont-calc-click {
    position: absolute;
    top: 125px;
} 

.cont-result {
    margin-top: 171px;
    font-size: 24px;
}

.result-txt-wannabe, .result-txt-time {
    font-family: 'GmarketSansMedium';
}

.result-txt-wannabe strong, .result-txt-time strong {
    font-size: 72px;
    font-family: 'GmarketSansBold';
    vertical-align: top;
    position: relative;
    bottom: 20px;
}

.result-txt-time {
    margin-top: 8px;

}

.result-btn-go {
    margin: 97px 18px 0 0;
}

.result-btn-share {
    background-color: #fff;
}

/* footer */
.cont-footer {
    padding-top: 136px;
    display: flex;
    flex-direction: column;
    font-size: 12px;
    font-family: 'Noto Sans KR';
    justify-content: center;
    align-items: center;
    line-height: 1.5;
}

.cont-footer img {
    width: 125px;
    margin-bottom: 20px;
}

/* modal */
.cont-modal {
    width: 800px;
    height: 800px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}

.cont-modal > img:nth-of-type(1) {
    width: 396px;
}

.cont-modal img:nth-of-type(2) {
    margin-top: 4px;
    width: 233px;
}

.cont-modal img:nth-of-type(3) {
    margin-top: 29px;
    width: 433px;
}

.btn-go {
    margin-top: 74px;
}